@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #2E3549;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #F6F6FA;
  }

  aside{
    background-color: #ffffff;
  }

  body{
    background-color: #F6F6FA;
  }

  main{
     background-color: #ffffff;
  }

  nav{
     background-color: #ffffff;
  }

  .nav-item{
    background-color: #F6F6FA;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #000000;
  }

  :root {
    color: #213547;
    background-color: #000000;
  }

  aside{
    background-color: #ffffff;
  }

  body{
    background-color: #000000;
  }

  main{
     background-color: #ffffff;
  }

  nav{
     background-color: #ffffff;
  }

}



